@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@font-face {
  font-family: "TWK Everett";
  src: url("../fonts/everett/twkeverett-medium-webfont.woff2") format("woff2"), url("../fonts/everett/twkeverett-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "TWK Everett";
  src: url("../fonts/everett/twkeverett-bold-webfont.woff2") format("woff2"), url("../fonts/everett/twkeverett-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "TWK Everett";
  src: url("../fonts/everett/twkeverett-regular-webfont.woff2") format("woff2"), url("../fonts/everett/twkeverett-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arimo";
  src: url("../fonts/arimo/Arimo-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.td-heading__h1 {
  font-size: 4.8rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
  line-height: 1.3;
}
.td-heading__h2 {
  font-size: 3.4rem !important;
  font-weight: 600 !important;
  color: #005758 !important;
  margin: 0 !important;
  line-height: 1.2;
}
.td-heading__h3 {
  font-size: 2.4rem !important;
  font-weight: 300 !important;
  color: #005758 !important;
  margin: 0 !important;
  line-height: 1.4;
}
.td-heading__h3.intel-margin {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}
.td-heading__h4 {
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  color: #005758 !important;
  margin: 0 !important;
  line-height: 1.4;
}

.center {
  text-align: center;
  margin-inline: auto;
}

.td-content-p {
  font-family: "Arial" !important;
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  padding-block: 5px !important;
  line-height: 1.7 !important;
  max-width: 900px !important;
}
.td-content-p__small {
  font-size: 1.4rem !important;
  line-height: 1.6;
}

.td-subheading {
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  font-family: "Arial";
  line-height: 1.3;
  margin: 0 !important;
}

.gcc-heading__h1 {
  font-size: 4rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
  color: #000000 !important;
}
.gcc-heading__h2 {
  font-size: 3.8rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
  color: #000000 !important;
}
.gcc-heading__h3 {
  font-size: 2.4rem !important;
  font-weight: 300 !important;
  margin: 0 !important;
  line-height: 1.4;
  color: #000000 !important;
}
.gcc-heading__h3.gcc-margin {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}
.gcc-heading__h4 {
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  margin: 0 !important;
  line-height: 1.4;
  color: #000000 !important;
}

.gcc-subheading__small {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
  padding-block: 5px !important;
}

.gcc-body-p {
  font-family: "Arial" !important;
  font-size: 1.6rem !important;
  font-weight: 300 !important;
  padding-block: 5px !important;
  line-height: 1.4 !important;
  max-width: 900px !important;
}
.gcc-body-p__small {
  font-size: 1.4rem !important;
  line-height: 1.6;
}

.gcc-weight__300 {
  font-weight: 300 !important;
}
.gcc-weight__400 {
  font-weight: 400 !important;
}
.gcc-weight__500 {
  font-weight: 500 !important;
}
.gcc-weight__600 {
  font-weight: 600 !important;
}
.gcc-weight__700 {
  font-weight: 700 !important;
}
.gcc-weight__800 {
  font-weight: 800 !important;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  width: 100%;
  font-size: 1rem;
  font-family: "TWK Everett", "Arial";
  color: #575757;
}

main {
  max-width: 1280px;
  margin-inline: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #0068B5;
}
a:hover {
  text-decoration: underline !important;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea {
  border: none;
  outline: none;
  overflow: auto;
}

.intel-center {
  text-align: center;
  margin-inline: auto;
}

.intel-line-break {
  width: calc(100% - 50px);
  margin-inline: auto;
  margin-block: 25px;
  height: 1px;
  background-color: #F3F3F3;
}

.intel-heading__h1 {
  font-size: 4rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
}
.intel-heading__h2 {
  font-size: 3.8rem !important;
  font-weight: 400 !important;
  color: #0068B5 !important;
  margin: 0 !important;
}
.intel-heading__h3 {
  font-size: 2.4rem !important;
  font-weight: 300 !important;
  color: #0068B5 !important;
  margin: 0 !important;
  line-height: 1.4;
}
.intel-heading__h3.intel-margin {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}
.intel-heading__h4 {
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  color: #0068B5 !important;
  margin: 0 !important;
  line-height: 1.4;
}

.intel-body-p {
  font-family: "Arial" !important;
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  padding-block: 5px !important;
  line-height: 1.7 !important;
  max-width: 900px !important;
}
.intel-body-p__small {
  font-size: 1.4rem !important;
  line-height: 1.6;
}

.intel-spacer {
  height: 25px;
}

.intel-border-blue {
  border: 5px #00A3F6 solid;
}

.gcc-border__block {
  border-block: 1px #D9D9D9 solid;
  padding-block: 50px;
}

.gcc-margin__block {
  margin-block: 25px !important;
}
.gcc-margin__inline {
  margin-inline: 25px !important;
}

.gcc-spacer {
  width: 100%;
  height: 50px;
}

.gcc-p-spacer {
  width: 100%;
  height: 15px;
}

.gcc-border-top {
  border-top: 1px #DEDEDE solid;
}

.sparkle-background {
  background-color: #000000;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.sparkle-background.gradient {
  top: 0px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgb(15, 75, 172) 100%);
}

.seagate-line {
  background-color: #6EBE49;
  height: 2px;
  width: 60px;
  margin-bottom: 10px;
}

.td-bold {
  font-weight: 600 !important;
}

.td-spacer {
  height: 20px;
}

.td-image-and-content {
  display: flex;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  border-bottom: 1px white solid;
  margin-bottom: 25px;
}
.td-image-and-content .td-image {
  margin-right: 25px;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gcc-footer {
  width: 100%;
  height: 50px;
  background-color: #003031;
  margin-top: 50px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gcc-footer p {
  font-size: 2.2rem !important;
}

.white {
  color: white !important;
}

.intel-white {
  color: white !important;
}

.intel-blue {
  color: #0068B5 !important;
}

.intel-black {
  color: black !important;
}

.intel-bg-light-grey {
  background-color: #F3F3F3 !important;
}

.td-teal {
  color: #005758 !important;
}

.td-green {
  color: #CCD814 !important;
}

.td-grey {
  color: #575757 !important;
}

.gcc-grey {
  color: #575757;
}

.gcc-bg__white {
  background-color: #ffffff !important;
}
.gcc-bg__light-grey {
  background-color: #F3F3F3 !important;
}

.seagate-green {
  color: #6EBE49 !important;
}

.seagate-bg-green {
  background: #6EBE49 !important;
  background-color: #6EBE49 !important;
  color: #000000 !important;
}

.sparkle-bg-black {
  background: #141414 !important;
  background-color: #141414 !important;
  padding-bottom: 25px;
}

#main-content {
  background: rgb(76, 187, 184) !important;
  background: linear-gradient(180deg, rgb(76, 187, 184) 0%, rgb(66, 160, 158) 80%) !important;
}

#hs_cos_wrapper_widget_46809278024 {
  z-index: -1 !important;
}

.hs-button.primary.large {
  background-color: white !important;
}

.form-wrap2.gradient.mTx2.white-fields {
  background: rgba(66, 160, 158, 0.8) !important;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.hs-button.primary.large {
  background: #8cc740 !important;
  cursor: pointer;
  transition: 0.2s ease !important;
}

.hs-button.primary.large:hover {
  background: white !important;
  color: black !important;
  transition: 0.2s ease !important;
}

form .hs-error-msgs label {
  color: #f7bc71 !important;
}

@media (min-width: 1101px) {
  .form-wrap2.gradient.mTx2.white-fields {
    padding: 3.4rem !important;
  }
}
.gcc-grid {
  display: grid;
  gap: 25px;
}
.gcc-grid__2-cols {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}
.gcc-grid__3-cols {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}
.gcc-grid__4-cols {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}
.gcc-grid .gcc-col {
  width: 100%;
}
.gcc-grid .gcc-col-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sparkle-grid__2-cols {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  margin-block: 25px;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.sparkle-grid__2-cols .sparkle-col-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.sparkle-grid__2-cols .sparkle-col-content h3, .sparkle-grid__2-cols .sparkle-col-content p {
  position: relative;
  z-index: 1;
}
.sparkle-grid__2-cols .sparkle-col-content__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  padding: 0px 25px 73px 25px;
  -webkit-clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
  clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
  z-index: 0;
}
.sparkle-grid__2-cols .sparkle-col-content__border-wrapper {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
}
.sparkle-grid__2-cols .sparkle-col-content__border {
  background: #878787;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
  clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
}
.sparkle-grid__2-cols .sparkle-col-img {
  width: 400px;
  margin: auto;
}

.sparkle-grid-bg {
  position: fixed;
  top: 0;
  left: 50%;
  width: 1280px;
  height: 100vh;
  z-index: 0;
  transform: translateX(-50%);
  padding-inline: 50px;
}
.sparkle-grid-bg__container {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.sparkle-grid-bg__line-wrap {
  width: 400px;
  height: 100vh;
  position: relative;
}
.sparkle-grid-bg__line {
  height: 100%;
  width: 1px;
  background-color: rgba(135, 135, 135, 0.4);
}
.sparkle-grid-bg__dash {
  width: 1px;
  height: 57px;
  background: linear-gradient(180deg, #00AFFF 0%, rgba(0, 175, 255, 0) 105.43%);
  position: absolute;
  animation-name: bgLine;
  animation-iteration-count: infinite;
  z-index: 1;
  animation-duration: 9.62857s;
}
@keyframes bgLine {
  0% {
    top: -57px;
  }
  100% {
    top: 100%;
  }
}

.td-col__2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: -moz-fit-content;
  width: fit-content;
}
.td-col__2.margin-top {
  margin-top: 20px;
}
.td-col__2.center {
  margin-inline: auto;
  gap: 50px;
}

.td-col {
  display: flex;
  flex-direction: column;
}
.td-col.center {
  align-items: center;
  justify-content: center;
}

.intel-section {
  padding-inline: 25px;
  padding-block: 25px;
  display: flex;
  flex-direction: column;
}
.intel-section.intel-2-col {
  margin: 0;
}

.intel-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.intel-intro__image {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.intel-intro__content {
  padding-left: 30px;
  width: 70%;
}

.intel-video-embedd {
  width: 80%;
  margin-inline: auto;
  margin-top: 25px;
}
.intel-video-embedd.intel-video-iframe {
  position: relative;
  width: 80%;
  height: 575px;
  margin-top: 0px;
}
.intel-video-embedd.intel-video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intel-2-col {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.intel-2-col__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.intel-2-col__col:first-of-type {
  margin-right: 30px;
}
.intel-2-col__col.center {
  justify-content: center;
}
.intel-2-col__content {
  width: 100%;
  background-color: #F3F3F3;
  padding: 25px;
  height: 100%;
}
.intel-2-col__content.intel-flex-col {
  display: flex;
  flex-direction: column;
}
.intel-2-col__content.intel-flex-col .intel-button {
  margin-top: auto;
}
.intel-2-col__content ul, .intel-2-col__content .intel-body-p {
  margin-top: 10px;
}
.intel-2-col__content ul {
  padding-left: 10px;
}
.intel-2-col__content ul li {
  list-style-type: disc;
}
.intel-2-col__content .intel-content-spacer {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: auto;
}
.intel-2-col__image {
  width: 100%;
}
.intel-2-col__image_doc {
  padding: 50px;
}
.intel-2-col__image_doc img {
  max-height: unset !important;
  max-width: 100% !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.intel-2-col__image.intel-2-col__image-large img {
  max-height: 450px;
}
.intel-2-col__image img {
  width: 100%;
  height: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intel-2-col__product {
  margin-inline: 25px;
  width: 100%;
}
.intel-2-col__product-image {
  background-color: #ffffff;
  border-radius: 13px;
  box-shadow: 3px 3px 27px rgba(0, 0, 0, 0.18);
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 25px;
  margin-bottom: 25px;
  height: 300px;
  width: 100%;
}
.intel-2-col__product-img {
  width: 60%;
  max-width: 308px;
  margin: auto;
}
.intel-2-col__product-vendor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.intel-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.intel-3-col__col {
  width: 100%;
}
.intel-3-col__icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.18);
  margin-inline: auto;
  margin-bottom: 20px;
}

.intel-contact__headshot {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 25px;
}
.intel-contact__headshot img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
}
.intel-contact .intel-body-p {
  color: #575757;
  transition: 0.2s ease;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 15px;
}
.intel-contact .intel-body-p:hover {
  color: #0068B5;
}

.intel-logo__propel {
  width: 100px;
  margin-bottom: 20px;
}

.intel-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.intel-card__white {
  background-color: #ffffff;
}
.intel-card__content {
  padding: 15px;
}

.intel-section {
  padding-inline: 25px;
  padding-block: 25px;
  display: flex;
  flex-direction: column;
}
.intel-section.intel-2-col {
  margin: 0;
}

.intel-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.intel-intro__image {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.intel-intro__content {
  padding-left: 30px;
  width: 70%;
}

.intel-video-embedd {
  width: 80%;
  margin-inline: auto;
  margin-top: 25px;
}
.intel-video-embedd.intel-video-iframe {
  position: relative;
  width: 80%;
  height: 575px;
  margin-top: 0px;
}
.intel-video-embedd.intel-video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intel-2-col {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.intel-2-col__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.intel-2-col__col:first-of-type {
  margin-right: 30px;
}
.intel-2-col__col.center {
  justify-content: center;
}
.intel-2-col__content {
  width: 100%;
  background-color: #F3F3F3;
  padding: 25px;
  height: 100%;
}
.intel-2-col__content.intel-flex-col {
  display: flex;
  flex-direction: column;
}
.intel-2-col__content.intel-flex-col .intel-button {
  margin-top: auto;
}
.intel-2-col__content ul, .intel-2-col__content .intel-body-p {
  margin-top: 10px;
}
.intel-2-col__content ul {
  padding-left: 10px;
}
.intel-2-col__content ul li {
  list-style-type: disc;
}
.intel-2-col__content .intel-content-spacer {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: auto;
}
.intel-2-col__image {
  width: 100%;
}
.intel-2-col__image_doc {
  padding: 50px;
}
.intel-2-col__image_doc img {
  max-height: unset !important;
  max-width: 100% !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.intel-2-col__image.intel-2-col__image-large img {
  max-height: 450px;
}
.intel-2-col__image img {
  width: 100%;
  height: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intel-2-col__product {
  margin-inline: 25px;
  width: 100%;
}
.intel-2-col__product-image {
  background-color: #ffffff;
  border-radius: 13px;
  box-shadow: 3px 3px 27px rgba(0, 0, 0, 0.18);
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 25px;
  margin-bottom: 25px;
  height: 300px;
  width: 100%;
}
.intel-2-col__product-img {
  width: 60%;
  max-width: 308px;
  margin: auto;
}
.intel-2-col__product-vendor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.intel-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.intel-3-col__col {
  width: 100%;
}
.intel-3-col__icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.18);
  margin-inline: auto;
  margin-bottom: 20px;
}

.intel-contact__headshot {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 25px;
}
.intel-contact__headshot img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
}
.intel-contact .intel-body-p {
  color: #575757;
  transition: 0.2s ease;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 15px;
}
.intel-contact .intel-body-p:hover {
  color: #0068B5;
}

.intel-logo__propel {
  width: 100px;
  margin-bottom: 20px;
}

.intel-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.intel-card__white {
  background-color: #ffffff;
}
.intel-card__content {
  padding: 15px;
}

:root {
  --light-blue: #00afce ;
}

.bg-light-blue {
  background-color: var(--light-blue);
}

/* Hero image */
.max-width-container {
  padding: 0 !important;
  margin: 0 !important;
  width: 1280px !important;
  min-width: 1280px !important;
  max-width: 1280px !important;
}

.hero-img-wrapper {
  margin: auto;
}

.hero-img {
  width: 100%;
  height: auto;
}

/* intro text */
.intro-text,
.footer-text {
  color: #000000;
  font-weight: 400;
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  font-family: Arial, Helvetica, sans-serif;
}

.gcc-server-section {
  padding-block: 30px;
}

.intro-text-wrapper,
.footer-text {
  margin: auto;
  padding: 50px;
  padding-top: 15px;
  width: 800px;
}

.col4-btn {
  margin-top: 40px !important;
  text-align: center !important;
}

.col4-btn-v2 {
  margin-top: 40px !important;
  /* margin-bottom: 40px !important; */
  text-align: center !important;
}

.server-btn {
  background-color: #000000 !important;
  font-size: 30px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer !important;
  z-index: 999 !important;
  transition: 0.3s;
  border: 2px solid transparent;
  margin-top: 20px !important;
  font-family: Arial, Helvetica, sans-serif;
}

.server-btn:hover {
  background-color: #ffffff !important;
  color: #000000;
  border: 2px solid #000000;
}

/* Why intel */
.why-intel-text-wrapper {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-intel-title {
  color: var(--light-blue);
  font-size: 54px;
  text-align: center;
  font-family: "TWK Everett", sans-serif;
  width: 1000px;
}

.why-intel-text {
  width: 800px;
  color: #000000;
  font-size: 28px;
  line-height: 34px !important;
  text-align: center;
  font-family: "TWK Everett", sans-serif;
}

/* 4 column section */
.flex4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.col4-wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 300px;
  padding: 20px;
}

.col4-icon1 {
  width: 60px;
  /* padding-bottom: 30px; */
}

.col4-icon {
  width: 80px;
  /* padding-bottom: 30px; */
}

.col4-icon4 {
  width: 80px;
  padding-bottom: 24px;
}

.col4-title-wrap {
  height: 111px;
}

.col4-title {
  color: var(--light-blue);
  font-size: 26px;
  text-align: center;
  font-family: "TWK Everett", sans-serif;
  padding-bottom: 20px;
  margin-top: 30px;
}

.col4-text {
  color: #000000;
  font-size: 19px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

/* server styles */
.server-section-title-wrap {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.server-section-title {
  color: var(--light-blue);
  font-size: 54px !important;
  font-family: "TWK Everett", sans-serif;
}

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.server-content-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  max-width: 600px;
}

.server-img {
  position: relative;
  top: 76px;
  width: 50%;
  margin: auto;
}

.server-text-wrap {
  padding-top: 120px !important;
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  width: 450px;
  height: 830px;
  display: flex;
  flex-direction: column;
}

.server-text-wrap .server-btn-wrap {
  margin-top: auto;
  padding-bottom: 0 !important;
}

.server-title {
  font-size: 24px;
  font-family: "TWK Everett", sans-serif;
  height: 75px;
}

.server-text {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  margin-block: 8px;
}

.server-text.server-text__title {
  font-size: 22px;
  margin: 25px 0 15px 0;
}

.server-btn-wrap {
  padding-bottom: 40px !important;
  text-align: center !important;
}

/* Footer styles */
.footer {
  padding-bottom: 30px;
}

/* Removing platform styles */
#div_HTMLContent76013 {
  padding: 0 !important;
}

.content-wrap button {
  margin-top: 20px;
}

.gcc-region {
  padding-top: 30px;
}

.gcc-region__title {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: white;
}

.gcc-region__select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gcc-region__select a {
  width: 80px;
  margin-inline: 5px;
  border: 3px var(--light-blue) solid;
}

.gcc-region__select a:hover {
  border-color: white;
}

.gcc-region__select a img {
  width: 100%;
}

.td-button {
  font-size: 1.6rem !important;
  font-weight: 700 !important;
  color: #003031 !important;
  background-color: #CCD814 !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 18px 38px !important;
  padding-top: 21px !important;
  border-radius: 0px !important;
  border: none !important;
  outline: none !important;
  transition: 0.2s ease !important;
  cursor: pointer !important;
  display: flex !important;
  margin-top: 25px !important;
  text-transform: uppercase;
}
.td-button:hover {
  text-decoration: none !important;
}
.td-button.center {
  margin-inline: auto;
}
.td-button__link {
  font-size: 1.6rem !important;
  font-weight: 700 !important;
  color: #003031 !important;
  text-decoration: underline !important;
  text-transform: uppercase;
  display: block;
}
.td-button__link.center {
  margin-inline: auto;
  text-align: center;
}

.intel-button {
  font-size: 2rem !important;
  font-weight: 400 !important;
  color: #ffffff !important;
  background-color: #0068B5 !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 15px 38px !important;
  border-radius: 0px !important;
  border: none !important;
  outline: none !important;
  transition: 0.2s ease !important;
  cursor: pointer !important;
  display: flex !important;
  margin-top: 25px !important;
}
.intel-button.center {
  margin-inline: auto;
}

.gcc-button {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 15px 38px !important;
  border-radius: 0px !important;
  border: none !important;
  outline: none !important;
  transition: 0.2s ease !important;
  cursor: pointer !important;
  display: flex !important;
  margin-top: 25px !important;
}
.gcc-button.center {
  margin-inline: auto;
}
.gcc-button:hover {
  text-decoration: none !important;
}
.gcc-button.seagate-bg-green {
  border: 2px #6EBE49 solid !important;
  justify-content: space-between !important;
  width: 200px !important;
  padding: 15px !important;
}
.gcc-button.seagate-bg-green svg {
  transition: 0.2s ease;
}
.gcc-button.seagate-bg-green:hover {
  border: 2px #000000 solid !important;
}
.gcc-button.seagate-bg-green:hover svg {
  transform: translateX(5px);
}
.gcc-button p {
  margin: 0 !important;
}

.gcc-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.sparkle-button {
  background: #141414;
  border: none;
  outline: none;
  padding: 25px 30px;
  border-radius: 50px;
  font-size: 1.6rem;
  font-family: "TWK Everett", "Arial";
  color: #ffffff;
  border: 1px #141414 solid;
  width: calc(50% - 5px);
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: 0.4s ease;
  display: block;
  text-align: center;
}
.sparkle-button:hover {
  text-decoration: none !important;
}
.sparkle-button.main {
  box-shadow: 0 0 14px rgba(15, 75, 172, 0.77);
}
.sparkle-button.main:hover {
  box-shadow: 0 0 0px rgba(15, 75, 172, 0.77);
  border: 1px #878787 solid;
}
.sparkle-button.secondary {
  border: 1px #878787 solid;
}
.sparkle-button.secondary:hover {
  box-shadow: 0 0 14px rgba(15, 75, 172, 0.77);
  border: 1px #141414 solid;
}

.intel-carousel {
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-bottom: 25px;
  height: 650px;
}
.intel-carousel__list {
  margin: 0 !important;
  padding: 0 !important;
  transition: transform 0.3s;
  transform: translateX(0px);
  list-style: none;
  display: flex;
  height: 100%;
}
.intel-carousel__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.intel-carousel__item a {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intel-carousel__item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intel-carousel__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 25px;
}
.intel-carousel__pagination-pip {
  display: flex;
  width: 50px;
  height: 10px;
  border-radius: 25px;
  background-color: white;
  opacity: 0.5;
  transition: 0.2s ease;
  margin-inline: 5px;
  cursor: pointer;
  display: none;
}
.intel-carousel__pagination-pip:first-of-type, .intel-carousel__pagination-pip:nth-of-type(2), .intel-carousel__pagination-pip:nth-of-type(3), .intel-carousel__pagination-pip:nth-of-type(4) {
  display: flex;
}
.intel-carousel__pagination-pip:active {
  opacity: 1;
}
.intel-carousel__pagination-pip.active {
  opacity: 1;
}
.intel-carousel__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px #0068B5 solid;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease;
  opacity: 0.8;
}
.intel-carousel__control:hover {
  opacity: 1;
}
.intel-carousel__control:active {
  border-width: 2px;
}
.intel-carousel__control:disabled {
  opacity: 0;
}
.intel-carousel__control svg {
  width: 50%;
}
.intel-carousel__prev {
  left: 5px;
}
.intel-carousel__prev svg {
  transform: rotate(180deg);
  margin-right: 2px;
}
.intel-carousel__next {
  right: 5px;
}
.intel-carousel__next svg {
  margin-left: 2px;
}

.intel-banner {
  width: calc(100% - 50px);
  margin-inline: auto;
  padding: 0px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-block: 25px;
}
.intel-banner img {
  width: 100%;
}
.intel-banner__content {
  width: 50%;
}
.intel-banner__content .mav-body-p {
  padding-top: 0;
  margin-bottom: 15px;
}
.intel-banner__image {
  width: 50%;
}
.intel-banner__image img {
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.sparkle-cta-banner {
  width: 80%;
  background-color: #0F4BAC;
  margin-inline: auto;
  padding: 50px;
  margin-block: 50px;
  position: relative;
  z-index: 1;
}
.sparkle-cta-banner .gcc-button-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.sparkle-cta-banner a {
  background-color: #ffffff;
  color: #0F4BAC;
  font-family: "Arial";
  font-size: 1.6rem;
  font-weight: 300;
  padding: 15px;
  margin-inline: 15px;
  text-align: center;
}
.sparkle-cta-banner a:hover {
  text-decoration: none !important;
}

.td-banner__teal {
  background-color: #003031;
  padding-block: 60px;
  color: #ffffff;
}

.intel-events {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  background-color: #F3F3F3;
  padding-inline: 15px;
}
.intel-events a {
  color: #575757;
}
.intel-events__event, .intel-events__header {
  padding: 20px;
  display: flex;
  background-color: #F3F3F3;
}
.intel-events__header {
  border-bottom: 1px #C0C0C0 solid;
}
.intel-events__header p {
  color: #0068B5;
}
.intel-events__event {
  transition: 0.2s;
  padding-block: 25px;
  border-bottom: 1px #DEDEDE solid;
}
.intel-events__event:last-of-type {
  border: none;
}
.intel-events__con {
  width: 280px;
  display: flex;
  align-items: center;
}
.intel-events__con svg {
  margin-right: 8px;
  width: 25px;
}
.intel-events__con svg path {
  fill: #0068B5;
  stroke: #0068B5;
}
.intel-events__icon {
  width: 30px;
  margin-right: 8px;
}
.intel-events__p {
  font-size: 1.9rem;
  font-weight: 300;
}
.intel-events a:hover {
  text-decoration: underline;
}

.gcc-card {
  padding: 25px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.04);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
}
.gcc-card .gcc-body-p {
  margin-bottom: 25px !important;
}
.gcc-card .gcc-button {
  margin-top: auto !important;
}

.td-hero, .gcc-hero {
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.td-hero__image, .gcc-hero__image {
  width: 100%;
  position: relative;
}
.td-hero__overlay, .gcc-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 87, 88, 0.6);
  display: flex;
  padding: 50px 25px;
}
.td-hero__content, .gcc-hero__content {
  margin-top: auto;
  max-width: 750px;
}
.td-hero__content .td-heading__h1, .gcc-hero__content .td-heading__h1 {
  margin-bottom: 15px !important;
}
.td-hero__td-logo, .gcc-hero__td-logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 150px;
}
.td-hero__logo, .gcc-hero__logo {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 150px;
}
.td-hero.green-overlay::after, .gcc-hero.green-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005758;
  opacity: 0.5;
  z-index: 0;
}

.seagate-hero, .gcc-hero {
  background-color: #000000;
  padding: 50px;
  display: flex;
  align-items: center;
  min-height: 400px;
}
.seagate-hero__content, .gcc-hero__content {
  width: 50%;
  position: relative;
  z-index: 2;
}
.seagate-hero__content .gcc-subheading__small, .gcc-hero__content .gcc-subheading__small {
  margin-bottom: 20px;
  position: relative;
}
.seagate-hero__content .gcc-heading__h1, .gcc-hero__content .gcc-heading__h1 {
  margin-bottom: 15px !important;
  position: relative;
}
.seagate-hero__image, .gcc-hero__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.seagate-hero__image img, .gcc-hero__image img {
  width: 80%;
}
.seagate-hero .gcc-logo, .gcc-hero .gcc-logo {
  width: 300px;
}

.td-section {
  margin-block: 50px;
  padding-inline: 25px;
}

.td-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-items: center;
}
.td-2-cols .td-col {
  width: 100%;
}

.td-video {
  width: 100%;
  height: 370px;
  background-color: #D9D8D7;
}

.td-footer {
  width: 100%;
  background-color: #005758;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gcc-section {
  position: relative;
  padding-inline: 50px;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
}
.gcc-section__no-pad-top {
  padding-top: 0;
}
.gcc-section__no-pad-bottom {
  padding-bottom: 0;
}
.gcc-section__no-pad-block {
  padding-block: 0;
}

.td-tables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 900px;
  margin-inline: auto;
  margin-top: 25px;
  margin-bottom: 50px;
}
.td-tables .td-table {
  border: 1px #003031 solid;
}
.td-tables .td-table__header {
  background-color: #003031;
  color: #ffffff;
  padding: 25px 15px;
  text-align: center;
}
.td-tables .td-table__title {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "TWK Everett";
  text-transform: uppercase;
}
.td-tables .td-table__list {
  text-align: center;
  padding: 15px;
  color: #003031;
  font-weight: 500;
}

.td-tiers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.td-tiers__tier {
  background-color: #D9D8D7;
  padding: 20px;
}
.td-tiers__tier:nth-of-type(1) {
  margin-top: 150px;
}
.td-tiers__tier:nth-of-type(2) {
  margin-top: 100px;
}
.td-tiers__tier:nth-of-type(3) {
  margin-top: 50px;
}
.td-tiers__tier .td-heading__h4 {
  font-size: 2.2rem !important;
  font-weight: 600 !important;
  font-family: "TWK Everett" !important;
  text-transform: uppercase !important;
}
.td-tiers__tier .td-content-p {
  font-size: 1.6rem !important;
}
.td-tiers__tier.highlight {
  background-color: #08BED5;
}
.td-tiers__tier.highlight .td-heading__h4, .td-tiers__tier.highlight .td-content-p {
  color: #ffffff !important;
}

.td-tier-line {
  margin-bottom: -125px;
}

.sparkle-product {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sparkle-product:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 80px solid #141414;
  border-left: 80px solid #141414;
  width: 0;
}
.sparkle-product__border-wrapper {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
}
.sparkle-product__border {
  background: linear-gradient(180deg, #000 0%, #113673 10%, #141414 103.15%);
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
  clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
}
.sparkle-product__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #000 0%, #141414 103.15%);
  padding: 0px 25px 73px 25px;
  -webkit-clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
  clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
  z-index: 0;
}
.sparkle-product__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 50px;
}
.sparkle-product__img {
  width: 400px;
  margin-inline: auto;
  margin-top: -100px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}
.sparkle-product__small-text {
  color: #00AFFF;
  font-size: 1.4rem;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}
.sparkle-product__list-title {
  margin-top: 15px;
  position: relative;
  z-index: 1;
}
.sparkle-product ul {
  padding-left: 20px;
  position: relative;
  z-index: 1;
}
.sparkle-product ul li {
  list-style-type: disc;
  color: #ffffff;
  font-size: 1.8rem;
}
.sparkle-product ul li p {
  margin-block: 0;
  padding-block: 0;
}
.sparkle-product__more-info {
  margin-top: 10px;
  transition: 0.2s ease;
  max-height: 900px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.sparkle-product__more-info.hidden {
  max-height: 0;
  margin-top: 0;
  transition: 0.2s ease;
}
.sparkle-product__more-info-btn {
  background: none;
  padding: 10px 0;
  border: none;
  outline: none;
  color: #878787;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.sparkle-product__more-info-btn svg {
  margin-left: 5px;
  transition: 0.2s;
}
.sparkle-product__more-info-btn.open svg {
  transform: rotate(180deg);
}

.seagate-configurator {
  margin-top: 20px;
  border-top: 1px #D9D9D9 solid;
}
.seagate-configurator .seagate-input-wrapper__2-col {
  display: flex;
  flex-direction: row;
}
.seagate-configurator .seagate-input-wrapper__2-col .seagate-input-wrapper:first-of-type {
  width: 60%;
  margin-right: 25px;
}
.seagate-configurator .seagate-input-wrapper__2-col .seagate-input-wrapper:nth-of-type(2) {
  width: 40%;
}
.seagate-configurator .seagate-input-wrapper__2-col.split .seagate-input-wrapper:first-of-type {
  width: 50%;
  margin-right: 25px;
}
.seagate-configurator .seagate-input-wrapper__2-col.split .seagate-input-wrapper:nth-of-type(2) {
  width: 50%;
}
.seagate-configurator .seagate-input-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px #D9D9D9 solid;
  padding-top: 25px;
}
.seagate-configurator .seagate-input-wrapper.hide {
  display: none;
}
.seagate-configurator .seagate-input-wrapper label {
  font-size: 20px;
  font-weight: 600;
  font-family: "Arial" !important;
  color: #000000;
}
.seagate-configurator .seagate-input-wrapper select, .seagate-configurator .seagate-input-wrapper input {
  font-size: 22px;
  margin-top: 5px;
  padding: 25px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.seagate-configurator .seagate-input-wrapper select:invalid, .seagate-configurator .seagate-input-wrapper input:invalid {
  opacity: 0.6;
}
.seagate-configurator .seagate-configurator__actions {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  opacity: 1;
  transition: 0.2s ease;
}
.seagate-configurator .seagate-configurator__actions.hidden {
  opacity: 0;
  transition: 0.2s ease;
}
.seagate-configurator .seagate-configurator__actions .gcc-button.seagate-bg-green {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.seagate-configurator .seagate-configurator__actions .gcc-button.seagate-bg-green p {
  margin-right: 15px !important;
}
.seagate-configurator .seagate-configurator__actions .gcc-button.seagate-bg-green:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transition: 0.2s ease;
}

.gcc-server-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-top: 25px;
}
.gcc-server-grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gcc-server-configuration {
  padding-top: 0;
}

.gcc-server {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.gcc-server:hover {
  text-decoration: unset !important;
}
.gcc-server__image {
  background: #F3F3F3;
  border-radius: 30px;
  padding: 60px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  height: 200px;
}
.gcc-server__see-more {
  background: none;
  border: none;
  outline: none;
  font-family: "Arial";
  font-size: 1.8rem;
  color: #575757;
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.gcc-server__see-more svg {
  margin-left: 10px;
  transition: 0.2s ease;
}
.gcc-server__see-more.open svg {
  transform: rotate(180deg);
}

.gcc-server-logo {
  max-width: 200px;
  margin-inline: auto;
}

.gcc-region.new {
  padding: 15px;
  background-color: #005758;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.gcc-region.new .gcc-region__title {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  text-decoration: unset;
  text-underline-offset: 4px;
  color: white;
  margin-right: 2px;
}
.gcc-region.new .gcc-region__select {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gcc-region.new .gcc-region__flag {
  width: 40px;
  margin-left: 8px;
  margin-right: 0;
  border: 1px #ffffff solid;
  opacity: 0.5;
  transition: 0.2s;
}
.gcc-region.new .gcc-region__flag.active {
  opacity: 1;
}
.gcc-region.new .gcc-region__flag:hover {
  opacity: 1;
}
.gcc-region.new .gcc-region__flag img {
  width: 100%;
}

.gcc-server-form-wrapper {
  margin-top: 25px;
  padding-top: 25px;
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
}
.gcc-server-form-wrapper .gcc-heading__h4 {
  margin-bottom: 15px !important;
}
.gcc-server-form-wrapper .gcc-submit {
  margin-inline: auto;
}

.gcc-server-form .gcc-server-form__inner {
  max-height: 50000px;
  transition: 0.5s ease;
  opacity: 1;
}
.gcc-server-form .gcc-button {
  transition: 0.5s ease;
  margin-top: 0 !important;
}
.gcc-server-form.hidden .gcc-server-form__inner {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ease;
  opacity: 0;
}
.gcc-server-form.hidden .gcc-button {
  margin-top: 0 !important;
  transition: 0.5s ease;
}
.gcc-server-form__personal-info {
  margin-top: 30px;
}

.gcc-server-details {
  margin-top: 15px;
  overflow: hidden;
  max-height: 0;
  margin: 0;
  transition: 0.2s ease;
}
.gcc-server-details.show {
  margin-top: 15px;
  max-height: 50000px;
  height: 100%;
  transition: 0.2s ease;
}
.gcc-server-details .gcc-server-list {
  margin-top: 5px;
}

.gcc-hidden-fields {
  display: none;
  visibility: hidden;
  margin: 0 !important;
  height: 0 !important;
}

.gcc-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
}
.gcc-input-wrapper label {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: #005758;
  margin-bottom: 10px;
  transition: 0.2s ease;
}
.gcc-input-wrapper .required {
  color: #CCD814;
}
.gcc-input-wrapper .gcc-select, .gcc-input-wrapper .gcc-input {
  background-color: #F3F3F3;
  border: none;
  outline: none;
  padding: 15px 15px;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #005758;
  width: 100%;
  cursor: pointer;
  transition: 0.2s ease;
}
.gcc-input-wrapper .gcc-select:invalid, .gcc-input-wrapper .gcc-input:invalid {
  opacity: 0.6;
  color: #575757;
}
.gcc-input-wrapper .gcc-select::-moz-placeholder, .gcc-input-wrapper .gcc-input::-moz-placeholder {
  opacity: 0.6;
  color: #575757;
}
.gcc-input-wrapper .gcc-select::placeholder, .gcc-input-wrapper .gcc-input::placeholder {
  opacity: 0.6;
  color: #575757;
}
.gcc-input-wrapper__2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.gcc-input-wrapper .error-p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #DA2128;
  margin-top: 10px;
  display: none;
}
.gcc-input-wrapper.errors .gcc-select {
  border: 1px #DA2128 solid !important;
}
.gcc-input-wrapper.errors .error-p {
  display: block;
}
.gcc-input-wrapper.disable label {
  opacity: 0.2;
}
.gcc-input-wrapper.disable select, .gcc-input-wrapper.disable select:invalid {
  color: rgba(0, 0, 0, 0.2);
}

.gcc-submit {
  background-color: #08BED5;
  color: #ffffff;
  font-weight: 500;
  border-radius: 3px !important;
  padding-inline: 40px;
}

.gcc-selection {
  margin-top: 30px;
  border-bottom: 1px #DEDEDE solid;
  padding-bottom: 25px;
}
.gcc-selection.hidden {
  display: none;
}
.gcc-selection__heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 25px;
}
.gcc-selection__name {
  font-size: 2.4rem;
  font-weight: 500;
  color: #005758;
}
.gcc-selection__desc {
  font-size: 1.8rem;
  font-weight: 400;
  color: #575757;
  margin-top: 10px;
  color: #CCD814;
}
.gcc-selection__image {
  width: 80%;
  margin-inline: auto;
}/*# sourceMappingURL=style.css.map */