@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@font-face {
  font-family: "TWK Everett";
  src: url("../fonts/everett/twkeverett-medium-webfont.woff2") format("woff2"), url("../fonts/everett/twkeverett-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "TWK Everett";
  src: url("../fonts/everett/twkeverett-bold-webfont.woff2") format("woff2"), url("../fonts/everett/twkeverett-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "TWK Everett";
  src: url("../fonts/everett/twkeverett-regular-webfont.woff2") format("woff2"), url("../fonts/everett/twkeverett-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arimo";
  src: url("../fonts/arimo/Arimo-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.gcc-heading__h1 {
  font-size: 4rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
  color: #000000 !important;
}
.gcc-heading__h2 {
  font-size: 3.8rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
  color: #000000 !important;
}
.gcc-heading__h3 {
  font-size: 2.4rem !important;
  font-weight: 300 !important;
  margin: 0 !important;
  line-height: 1.4;
  color: #000000 !important;
}
.gcc-heading__h3.gcc-margin {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}
.gcc-heading__h4 {
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  margin: 0 !important;
  line-height: 1.4;
  color: #000000 !important;
}

.gcc-subheading__small {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
  padding-block: 5px !important;
}

.gcc-body-p {
  font-family: "Arial" !important;
  font-size: 1.6rem !important;
  font-weight: 300 !important;
  padding-block: 5px !important;
  line-height: 1.4 !important;
  max-width: 900px !important;
}
.gcc-body-p__small {
  font-size: 1.4rem !important;
  line-height: 1.6;
}

.gcc-weight__300 {
  font-weight: 300 !important;
}
.gcc-weight__400 {
  font-weight: 400 !important;
}
.gcc-weight__500 {
  font-weight: 500 !important;
}
.gcc-weight__600 {
  font-weight: 600 !important;
}
.gcc-weight__700 {
  font-weight: 700 !important;
}
.gcc-weight__800 {
  font-weight: 800 !important;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  width: 100%;
  font-size: 1rem;
  font-family: "TWK Everett", "Arial";
  color: #575757;
}

main {
  max-width: 1280px;
  margin-inline: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #0068B5;
}
a:hover {
  text-decoration: underline !important;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea {
  border: none;
  outline: none;
  overflow: auto;
}

.intel-center {
  text-align: center;
  margin-inline: auto;
}

.intel-line-break {
  width: calc(100% - 50px);
  margin-inline: auto;
  margin-block: 25px;
  height: 1px;
  background-color: #F3F3F3;
}

.intel-heading__h1 {
  font-size: 4rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
}
.intel-heading__h2 {
  font-size: 3.8rem !important;
  font-weight: 400 !important;
  color: #0068B5 !important;
  margin: 0 !important;
}
.intel-heading__h3 {
  font-size: 2.4rem !important;
  font-weight: 300 !important;
  color: #0068B5 !important;
  margin: 0 !important;
  line-height: 1.4;
}
.intel-heading__h3.intel-margin {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}
.intel-heading__h4 {
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  color: #0068B5 !important;
  margin: 0 !important;
  line-height: 1.4;
}

.intel-body-p {
  font-family: "Arial" !important;
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  padding-block: 5px !important;
  line-height: 1.7 !important;
  max-width: 900px !important;
}
.intel-body-p__small {
  font-size: 1.4rem !important;
  line-height: 1.6;
}

.intel-spacer {
  height: 25px;
}

.intel-border-blue {
  border: 5px #00A3F6 solid;
}

.gcc-border__block {
  border-block: 1px #D9D9D9 solid;
  padding-block: 50px;
}

.gcc-margin__block {
  margin-block: 25px !important;
}
.gcc-margin__inline {
  margin-inline: 25px !important;
}

.intel-white {
  color: white !important;
}

.intel-blue {
  color: #0068B5 !important;
}

.intel-black {
  color: black !important;
}

.intel-bg-light-grey {
  background-color: #F3F3F3 !important;
}

.gcc-grey {
  color: #575757;
}

.gcc-bg__white {
  background-color: #ffffff !important;
}
.gcc-bg__light-grey {
  background-color: #F3F3F3 !important;
}

.seagate-green {
  color: #6EBE49 !important;
}

.seagate-bg-green {
  background: #6EBE49 !important;
  background-color: #6EBE49 !important;
  color: #000000 !important;
}

.gcc-section {
  padding-inline: 50px;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
}
.gcc-section__no-pad-top {
  padding-top: 0;
}
.gcc-section__no-pad-bottom {
  padding-bottom: 0;
}

.gcc-grid {
  display: grid;
  gap: 25px;
}
.gcc-grid__2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.gcc-grid__3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.gcc-grid__4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.gcc-grid .gcc-col {
  width: 100%;
}

.intel-section {
  padding-inline: 25px;
  padding-block: 25px;
  display: flex;
  flex-direction: column;
}
.intel-section.intel-2-col {
  margin: 0;
}

.intel-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.intel-intro__image {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.intel-intro__content {
  padding-left: 30px;
  width: 70%;
}

.intel-video-embedd {
  width: 80%;
  margin-inline: auto;
  margin-top: 25px;
}
.intel-video-embedd.intel-video-iframe {
  position: relative;
  width: 80%;
  height: 575px;
  margin-top: 0px;
}
.intel-video-embedd.intel-video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intel-2-col {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.intel-2-col__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.intel-2-col__col:first-of-type {
  margin-right: 30px;
}
.intel-2-col__col.center {
  justify-content: center;
}
.intel-2-col__content {
  width: 100%;
  background-color: #F3F3F3;
  padding: 25px;
  height: 100%;
}
.intel-2-col__content.intel-flex-col {
  display: flex;
  flex-direction: column;
}
.intel-2-col__content.intel-flex-col .intel-button {
  margin-top: auto;
}
.intel-2-col__content ul, .intel-2-col__content .intel-body-p {
  margin-top: 10px;
}
.intel-2-col__content ul {
  padding-left: 10px;
}
.intel-2-col__content ul li {
  list-style-type: disc;
}
.intel-2-col__content .intel-content-spacer {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: auto;
}
.intel-2-col__image {
  width: 100%;
}
.intel-2-col__image_doc {
  padding: 50px;
}
.intel-2-col__image_doc img {
  max-height: unset !important;
  max-width: 100% !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.intel-2-col__image.intel-2-col__image-large img {
  max-height: 450px;
}
.intel-2-col__image img {
  width: 100%;
  height: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intel-2-col__product {
  margin-inline: 25px;
  width: 100%;
}
.intel-2-col__product-image {
  background-color: #ffffff;
  border-radius: 13px;
  box-shadow: 3px 3px 27px rgba(0, 0, 0, 0.18);
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 25px;
  margin-bottom: 25px;
  height: 300px;
  width: 100%;
}
.intel-2-col__product-img {
  width: 60%;
  max-width: 308px;
  margin: auto;
}
.intel-2-col__product-vendor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.intel-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.intel-3-col__col {
  width: 100%;
}
.intel-3-col__icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.18);
  margin-inline: auto;
  margin-bottom: 20px;
}

.intel-contact__headshot {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 25px;
}
.intel-contact__headshot img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
}
.intel-contact .intel-body-p {
  color: #575757;
  transition: 0.2s ease;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 15px;
}
.intel-contact .intel-body-p:hover {
  color: #0068B5;
}

.intel-logo__propel {
  width: 100px;
  margin-bottom: 20px;
}

.intel-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.intel-card__white {
  background-color: #ffffff;
}
.intel-card__content {
  padding: 15px;
}

.intel-section {
  padding-inline: 25px;
  padding-block: 25px;
  display: flex;
  flex-direction: column;
}
.intel-section.intel-2-col {
  margin: 0;
}

.intel-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.intel-intro__image {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.intel-intro__content {
  padding-left: 30px;
  width: 70%;
}

.intel-video-embedd {
  width: 80%;
  margin-inline: auto;
  margin-top: 25px;
}
.intel-video-embedd.intel-video-iframe {
  position: relative;
  width: 80%;
  height: 575px;
  margin-top: 0px;
}
.intel-video-embedd.intel-video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intel-2-col {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.intel-2-col__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.intel-2-col__col:first-of-type {
  margin-right: 30px;
}
.intel-2-col__col.center {
  justify-content: center;
}
.intel-2-col__content {
  width: 100%;
  background-color: #F3F3F3;
  padding: 25px;
  height: 100%;
}
.intel-2-col__content.intel-flex-col {
  display: flex;
  flex-direction: column;
}
.intel-2-col__content.intel-flex-col .intel-button {
  margin-top: auto;
}
.intel-2-col__content ul, .intel-2-col__content .intel-body-p {
  margin-top: 10px;
}
.intel-2-col__content ul {
  padding-left: 10px;
}
.intel-2-col__content ul li {
  list-style-type: disc;
}
.intel-2-col__content .intel-content-spacer {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: auto;
}
.intel-2-col__image {
  width: 100%;
}
.intel-2-col__image_doc {
  padding: 50px;
}
.intel-2-col__image_doc img {
  max-height: unset !important;
  max-width: 100% !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.intel-2-col__image.intel-2-col__image-large img {
  max-height: 450px;
}
.intel-2-col__image img {
  width: 100%;
  height: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intel-2-col__product {
  margin-inline: 25px;
  width: 100%;
}
.intel-2-col__product-image {
  background-color: #ffffff;
  border-radius: 13px;
  box-shadow: 3px 3px 27px rgba(0, 0, 0, 0.18);
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 25px;
  margin-bottom: 25px;
  height: 300px;
  width: 100%;
}
.intel-2-col__product-img {
  width: 60%;
  max-width: 308px;
  margin: auto;
}
.intel-2-col__product-vendor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.intel-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.intel-3-col__col {
  width: 100%;
}
.intel-3-col__icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.18);
  margin-inline: auto;
  margin-bottom: 20px;
}

.intel-contact__headshot {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 25px;
}
.intel-contact__headshot img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
}
.intel-contact .intel-body-p {
  color: #575757;
  transition: 0.2s ease;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 15px;
}
.intel-contact .intel-body-p:hover {
  color: #0068B5;
}

.intel-logo__propel {
  width: 100px;
  margin-bottom: 20px;
}

.intel-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.intel-card__white {
  background-color: #ffffff;
}
.intel-card__content {
  padding: 15px;
}

:root {
  --light-blue: #00afce ;
}

.bg-light-blue {
  background-color: var(--light-blue);
}

/* Hero image */
.max-width-container {
  padding: 0 !important;
  margin: 0 !important;
  width: 1280px !important;
  min-width: 1280px !important;
  max-width: 1280px !important;
}

.hero-img-wrapper {
  margin: auto;
}

.hero-img {
  width: 100%;
  height: auto;
}

/* intro text */
.intro-text,
.footer-text {
  color: #000000;
  font-weight: 400;
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  font-family: Arial, Helvetica, sans-serif;
}

.gcc-server-section {
  padding-block: 30px;
}

.intro-text-wrapper,
.footer-text {
  margin: auto;
  padding: 50px;
  padding-top: 15px;
  width: 800px;
}

.col4-btn {
  margin-top: 40px !important;
  text-align: center !important;
}

.col4-btn-v2 {
  margin-top: 40px !important;
  /* margin-bottom: 40px !important; */
  text-align: center !important;
}

.server-btn {
  background-color: #000000 !important;
  font-size: 30px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer !important;
  z-index: 999 !important;
  transition: 0.3s;
  border: 2px solid transparent;
  margin-top: 20px !important;
  font-family: Arial, Helvetica, sans-serif;
}

.server-btn:hover {
  background-color: #ffffff !important;
  color: #000000;
  border: 2px solid #000000;
}

/* Why intel */
.why-intel-text-wrapper {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-intel-title {
  color: var(--light-blue);
  font-size: 54px;
  text-align: center;
  font-family: "TWK Everett", sans-serif;
  width: 1000px;
}

.why-intel-text {
  width: 800px;
  color: #000000;
  font-size: 28px;
  line-height: 34px !important;
  text-align: center;
  font-family: "TWK Everett", sans-serif;
}

/* 4 column section */
.flex4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.col4-wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 300px;
  padding: 20px;
}

.col4-icon1 {
  width: 60px;
  /* padding-bottom: 30px; */
}

.col4-icon {
  width: 80px;
  /* padding-bottom: 30px; */
}

.col4-icon4 {
  width: 80px;
  padding-bottom: 24px;
}

.col4-title-wrap {
  height: 111px;
}

.col4-title {
  color: var(--light-blue);
  font-size: 26px;
  text-align: center;
  font-family: "TWK Everett", sans-serif;
  padding-bottom: 20px;
  margin-top: 30px;
}

.col4-text {
  color: #000000;
  font-size: 19px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

/* server styles */
.server-section-title-wrap {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.server-section-title {
  color: var(--light-blue);
  font-size: 54px !important;
  font-family: "TWK Everett", sans-serif;
}

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.server-content-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  max-width: 600px;
}

.server-img {
  position: relative;
  top: 76px;
  width: 50%;
  margin: auto;
}

.server-text-wrap {
  padding-top: 120px !important;
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  width: 450px;
  height: 830px;
  display: flex;
  flex-direction: column;
}

.server-text-wrap .server-btn-wrap {
  margin-top: auto;
  padding-bottom: 0 !important;
}

.server-title {
  font-size: 24px;
  font-family: "TWK Everett", sans-serif;
  height: 75px;
}

.server-text {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  margin-block: 8px;
}

.server-text.server-text__title {
  font-size: 22px;
  margin: 25px 0 15px 0;
}

.server-btn-wrap {
  padding-bottom: 40px !important;
  text-align: center !important;
}

/* Footer styles */
.footer {
  padding-bottom: 30px;
}

/* Removing platform styles */
#div_HTMLContent76013 {
  padding: 0 !important;
}

.content-wrap button {
  margin-top: 20px;
}

.gcc-region {
  padding-top: 30px;
}

.gcc-region__title {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: white;
}

.gcc-region__select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gcc-region__select a {
  width: 80px;
  margin-inline: 5px;
  border: 3px var(--light-blue) solid;
}

.gcc-region__select a:hover {
  border-color: white;
}

.gcc-region__select a img {
  width: 100%;
}

.intel-button {
  font-size: 2rem !important;
  font-weight: 400 !important;
  color: #ffffff !important;
  background-color: #0068B5 !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 15px 38px !important;
  border-radius: 0px !important;
  border: none !important;
  outline: none !important;
  transition: 0.2s ease !important;
  cursor: pointer !important;
  display: flex !important;
  margin-top: 25px !important;
}
.intel-button.center {
  margin-inline: auto;
}

.gcc-button {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 15px 38px !important;
  border-radius: 0px !important;
  border: none !important;
  outline: none !important;
  transition: 0.2s ease !important;
  cursor: pointer !important;
  display: flex !important;
  margin-top: 25px !important;
}
.gcc-button.center {
  margin-inline: auto;
}
.gcc-button:hover {
  text-decoration: none !important;
}
.gcc-button.seagate-bg-green {
  border: 2px #6EBE49 solid !important;
  justify-content: space-between !important;
  width: 200px !important;
  padding: 15px !important;
}
.gcc-button.seagate-bg-green svg {
  transition: 0.2s ease;
}
.gcc-button.seagate-bg-green:hover {
  border: 2px #000000 solid !important;
}
.gcc-button.seagate-bg-green:hover svg {
  transform: translateX(5px);
}
.gcc-button p {
  margin: 0 !important;
}

.intel-carousel {
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-bottom: 25px;
  height: 650px;
}
.intel-carousel__list {
  margin: 0 !important;
  padding: 0 !important;
  transition: transform 0.3s;
  transform: translateX(0px);
  list-style: none;
  display: flex;
  height: 100%;
}
.intel-carousel__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.intel-carousel__item a {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intel-carousel__item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intel-carousel__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 25px;
}
.intel-carousel__pagination-pip {
  display: flex;
  width: 50px;
  height: 10px;
  border-radius: 25px;
  background-color: white;
  opacity: 0.5;
  transition: 0.2s ease;
  margin-inline: 5px;
  cursor: pointer;
  display: none;
}
.intel-carousel__pagination-pip:first-of-type, .intel-carousel__pagination-pip:nth-of-type(2), .intel-carousel__pagination-pip:nth-of-type(3), .intel-carousel__pagination-pip:nth-of-type(4) {
  display: flex;
}
.intel-carousel__pagination-pip:active {
  opacity: 1;
}
.intel-carousel__pagination-pip.active {
  opacity: 1;
}
.intel-carousel__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px #0068B5 solid;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease;
  opacity: 0.8;
}
.intel-carousel__control:hover {
  opacity: 1;
}
.intel-carousel__control:active {
  border-width: 2px;
}
.intel-carousel__control:disabled {
  opacity: 0;
}
.intel-carousel__control svg {
  width: 50%;
}
.intel-carousel__prev {
  left: 5px;
}
.intel-carousel__prev svg {
  transform: rotate(180deg);
  margin-right: 2px;
}
.intel-carousel__next {
  right: 5px;
}
.intel-carousel__next svg {
  margin-left: 2px;
}

.intel-banner {
  width: calc(100% - 50px);
  margin-inline: auto;
  padding: 0px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-block: 25px;
}
.intel-banner img {
  width: 100%;
}
.intel-banner__content {
  width: 50%;
}
.intel-banner__content .mav-body-p {
  padding-top: 0;
  margin-bottom: 15px;
}
.intel-banner__image {
  width: 50%;
}
.intel-banner__image img {
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.intel-events {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  background-color: #F3F3F3;
  padding-inline: 15px;
}
.intel-events a {
  color: #575757;
}
.intel-events__event, .intel-events__header {
  padding: 20px;
  display: flex;
  background-color: #F3F3F3;
}
.intel-events__header {
  border-bottom: 1px #C0C0C0 solid;
}
.intel-events__header p {
  color: #0068B5;
}
.intel-events__event {
  transition: 0.2s;
  padding-block: 25px;
  border-bottom: 1px #DEDEDE solid;
}
.intel-events__event:last-of-type {
  border: none;
}
.intel-events__con {
  width: 280px;
  display: flex;
  align-items: center;
}
.intel-events__con svg {
  margin-right: 8px;
  width: 25px;
}
.intel-events__con svg path {
  fill: #0068B5;
  stroke: #0068B5;
}
.intel-events__icon {
  width: 30px;
  margin-right: 8px;
}
.intel-events__p {
  font-size: 1.9rem;
  font-weight: 300;
}
.intel-events a:hover {
  text-decoration: underline;
}

.gcc-card {
  padding: 25px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.04);
  border-radius: 1px;
}/*# sourceMappingURL=style.css.map */