.intel-button {
    font-size: 2rem!important;
    font-weight: 400!important;
    color: $white!important;
    background-color: $blue!important;
    width: fit-content!important;
    padding: 15px 38px!important;
    border-radius: 0px!important;
    border: none!important;
    outline:none!important;
    transition: 0.2s ease!important;
    cursor: pointer!important;
    display: flex!important;
    margin-top: 25px!important;
    // &:hover {
    //     background-color: rgba(255,255,255);
    //     color: $blue;
    // }
    // &__border {
    //     border: 1px $blue solid;
    //     background-color: rgba(255,255,255);
    // }
    &.center {
        margin-inline: auto;
    }
}