.td-button {
    font-size: 1.6rem!important;
    font-weight: 700!important;
    color: $deepTeal!important;
    background-color: $chartreuse!important;
    width: fit-content!important;
    padding: 18px 38px!important;
    padding-top: 21px!important;
    border-radius: 0px!important;
    border: none!important;
    outline:none!important;
    transition: 0.2s ease!important;
    cursor: pointer!important;
    display: flex!important;
    margin-top: 25px!important;
    text-transform: uppercase;
    
    &:hover {
        text-decoration: none!important;
    }
    // &__border {
    //     border: 1px $blue solid;
    //     background-color: rgba(255,255,255);
    // }
    &.center {
        margin-inline: auto;
    }
    &__link {
        font-size: 1.6rem!important;
        font-weight: 700!important;
        color: $deepTeal!important;
        text-decoration: underline!important;
        text-transform: uppercase;
        display: block;
        &.center {
            margin-inline: auto;
            text-align: center;
        }
    }
}
.intel-button {
    font-size: 2rem!important;
    font-weight: 400!important;
    color: $white!important;
    background-color: $blue!important;
    width: fit-content!important;
    padding: 15px 38px!important;
    border-radius: 0px!important;
    border: none!important;
    outline:none!important;
    transition: 0.2s ease!important;
    cursor: pointer!important;
    display: flex!important;
    margin-top: 25px!important;
    // &:hover {
    //     background-color: rgba(255,255,255);
    //     color: $blue;
    // }
    // &__border {
    //     border: 1px $blue solid;
    //     background-color: rgba(255,255,255);
    // }
    &.center {
        margin-inline: auto;
    }
}

.gcc-button {
    font-size: 1.8rem!important;
    font-weight: 400!important;
    width: fit-content!important;
    padding: 15px 38px!important;
    border-radius: 0px!important;
    border: none!important;
    outline:none!important;
    transition: 0.2s ease!important;
    cursor: pointer!important;
    display: flex!important;
    margin-top: 25px!important;
    &.center {
        margin-inline: auto;
    }

    &:hover {
        text-decoration:none!important;  
    }

    &.seagate-bg-green  {
        border: 2px $seagate-green solid!important;
       justify-content: space-between!important;
       width: 200px!important;
       padding: 15px!important;
       svg {
        transition: 0.2s ease;
       }
        &:hover {
            border: 2px $black solid!important;
            svg {
                transform: translateX(5px);
            }
        }
    }
    p {
        margin: 0!important;
    }
}


.gcc-button-wrapper { 
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.sparkle-button {
    background: $sparkle-black;
    border: none;
    outline: none;
    padding: 25px 30px;
    border-radius: 50px;
    font-size: 1.6rem;
    font-family: $font, 'Arial';
    color: $white;
    border: 1px $sparkle-black solid;
    width: calc(50% - 5px);
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 0.4s ease;
    display: block;
    text-align: center;
    &:hover { 
        text-decoration:none!important;
    }
    &.main {
        box-shadow: 0 0  14px rgba(15,75,172,0.77);
        &:hover {
            box-shadow: 0 0  0px rgba(15,75,172,0.77);
            border: 1px $sparkle-grey solid;
        }
    }
    &.secondary {
        border: 1px $sparkle-grey solid;
        &:hover {
            box-shadow: 0 0  14px rgba(15,75,172,0.77);
            border: 1px $sparkle-black solid;
        }
    }
}