.gcc-card {
    padding: 25px;
    box-shadow: 0 0 16px rgba(0,0,0,0.04);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    .gcc-body-p {
        margin-bottom: 25px!important;
    }
    .gcc-button {
        margin-top: auto!important;
    }
}