
.seagate-configurator-wrapper {
    background-color: $white;
    width: 100%;
    max-width: 900px;
    padding: 50px;
    margin-inline: auto;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
}
.seagate-configurator {
  max-width: 900px;
  width: 100%;
  margin-inline: auto;
  border-top: 0;
   &__inner-form {
    margin-top: 20px;  
    border-top: 1px $lightGrey solid;
   }
    .seagate-input-wrapper__2-col {
        display: flex;
        flex-direction: row;
        .seagate-input-wrapper {
            &:first-of-type {
                width: 60%;
                margin-right: 25px;
            }
            &:nth-of-type(2) {
                width: 40%;
            }
           
        }
        &.split { 
            .seagate-input-wrapper {
                &:first-of-type {
                    width: 50%;
                    margin-right: 25px;
                }
                &:nth-of-type(2) {
                    width: 50%;
                } 
            }
        }
    }

    &__section {
        margin-top: 5px;
        padding-top: 45px;
        // border-top: 1px $lightGrey solid;
        
    }
   .seagate-input-wrapper, .seagate-next-question {
    display: flex;
    flex-direction: column;
    padding-top:25px;
    &.no-border {
        border: none;
    }
    &.hide {
        display: none;
    }
    label, .label {
        font-family: $font;
        font-size: 2rem;
        font-weight: 600;
        color: $black;

        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 5px;
        // margin-bottom: 10px;
        transition: 0.2s ease;
    }
    select, input, .seagate-fake-input, textarea {
        font-family: $fontBody;
        font-size: 1.8rem;
        margin-top: 0px;
        padding: 15px 0;
        border: none;
        outline: none;
        cursor: pointer;
        color:$grey;
        border: none;
        outline: none;
        // padding: 15px 15px;
        // border-radius: 3px;
        // font-size: 1.6rem;
        font-weight: 500;
        // color: $seagate-green;
        width: 100%;
        cursor: pointer;
        transition: 0.2s ease;
        border-bottom: 1px $lightGrey solid;
        &:invalid {
            opacity: 0.6;
          }
    }
    textarea {
        height: 150px;
        resize: none;
    }
   } 
   .seagate-next-question {
    position: relative;
        &:after {
            content: '';
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;   
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,1) 100%);   
        }
   }
   .seagate-configurator__actions {
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    opacity: 1;
    transition: 0.2s ease;
    &.hidden {
        opacity: 0;  
        transition: 0.2s ease;
    }
    .gcc-button.seagate-bg-green {
        width: fit-content!important;
        p {
            margin-right: 15px!important;
        }
        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
            transition: 0.2s ease;
        }
    }
        // input[type=submit] {
        //     padding: 20px 50px;
        //     background: black;
        //     color: $white;
        //     font-family: $font;
        //     cursor: pointer;
        //     font-size: 1.8rem;
        // }
   }
}