
.sparkle-product {
    // background-color: $sparkle-black;
    // box-shadow: inset 0 0 6px rgba(15,75,172,99);
    display: flex;
    flex-direction: column;
 

    position: relative;
    // background: linear-gradient(180deg, #000 0%, #113673 10%, #141414 103.15%);
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0;
        border-top: 80px solid $sparkle-black;
        border-left: 80px solid $sparkle-black;
        width: 0;
    }
    &__border-wrapper {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
    }
    &__border{ 
        background: linear-gradient(180deg, #000 0%, #113673 10%, #141414 103.15%);
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
        clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
    }
    &__bg {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #000 0%, #141414 103.15%);
        padding: 0px 25px 73px 25px;
        -webkit-clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));
        clip-path: polygon(0% 0%, calc(100% - 79px) 0%, 100% 51px, 100% 100%, 79px 100%, 0% calc(100% - 51px));  
        z-index: 0
    }
    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-bottom: 50px;
    }
    &__img {
        width: 400px;
        margin-inline: auto;
        margin-top: -100px;
        margin-bottom:25px;
        position: relative;
        z-index: 1;
    }
    &__small-text {
        color: $sparkle-light-blue;
        font-size: 1.4rem;
        margin-bottom: 10px;
        position: relative;
        z-index: 1;
    }
    &__list-title {
        margin-top: 15px;
        position: relative;
        z-index: 1;
    }
    ul {
        padding-left: 20px;
        position: relative;
        z-index: 1;
        li {
            list-style-type: disc;
            color: $white;
           font-size: 1.8rem;
           p {
            margin-block: 0;
            padding-block: 0;
           }
        }
    }
    &__more-info {
        margin-top:10px;
        transition: 0.2s ease;
        max-height: 900px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &.hidden  {
            max-height: 0;
            margin-top:0;
            transition: 0.2s ease;
        }
    }
    &__more-info-btn{
        background: none;
        padding: 10px 0;
        border: none;
        outline: none;
        color: $sparkle-grey;
        font-size: 1.6rem;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        svg {
             margin-left: 5px;
             transition: 0.2s;
        }
        &.open {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}
