// Base -reset
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

*,
*::before,
*::after {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    
}

body {
    font-size: 1.6rem;
    font-weight: normal;
    width: 100%;
    font-size: 1rem;
    font-family: $font, 'Arial';
    color: $grey;
}
main {
    max-width: 1280px;
    margin-inline: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none!important;
    color: $blue;
    &:hover {
        text-decoration: underline!important;
    }
}

img {
    width: 100%;
    height: auto;
}

input,
textarea {
    border: none;
    outline: none;
    overflow: auto;
}
.intel-center {
    text-align: center;
    margin-inline: auto;
}

.intel-line-break {
    width: calc(100% - 50px);
    margin-inline: auto;
    margin-block: 25px;
    height: 1px;
    background-color: $greyLight;
}

.intel-heading {
    &__h1 {
        font-size: 4rem!important;
        font-weight: 600!important;
        margin:0!important;
    }
    &__h2 {
        font-size: 3.8rem!important;
        font-weight: 400!important;
        color: $blue!important;
        margin:0!important;
    }
    &__h3 {
        font-size: 2.4rem!important;
        font-weight: 300!important;
        color: $blue!important;
        margin:0!important;
        line-height: 1.4;
        &.intel-margin {
            margin-top: 10px!important;
            margin-bottom: 15px!important;
        }
    }
    &__h4 {
        font-size: 1.8rem!important;
        font-weight: 300!important;
        color: $blue!important;
        margin:0!important;
        line-height: 1.4;
    }
}

.intel-body-p {
    font-family: "Arial"!important;
    font-size: 1.8rem!important;
    font-weight: 300!important;
    padding-block:5px!important;
    line-height: 1.7!important;
    max-width: 900px!important;
    &__small {
        font-size: 1.4rem!important;
        line-height: 1.6;
    }
}

.intel-spacer {
height: 25px;
}

.intel-border-blue {
    border: 5px #00A3F6 solid;
}
.gcc-border {
    &__block {
        border-block: 1px $lightGrey solid;
        padding-block: 50px;
    }
}

.gcc-margin {
    &__block {
        margin-block: 25px!important;
    }
    &__inline {
        margin-inline: 25px!important;
    }
}
.gcc-spacer {
    width: 100%;
    height: 50px;
}
.gcc-p-spacer {
    width: 100%;
    height: 15px;
}
.gcc-border-top {
    border-top: 1px $greyLighter solid;
}
.sparkle-background {
    background-color: $black;
    position: absolute;
    top:200px;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    &.gradient {
        top:0px;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(15,75,172,1) 100%);
    }
}
.seagate-line {
    background-color: $seagate-green;
    height: 2px;
    width: 60px;
    margin-bottom:10px;
}

.td-bold {
    font-weight: 600!important;
}

.td-spacer {
    height: 20px;
}

.td-image-and-content {
    display: flex;
    align-items: center;
    width: 80%;
    margin-inline:auto;
    border-bottom: 1px white solid;

    margin-bottom:25px;
    .td-image {
        // width: 20%;
        margin-right:25px;
    }
    .td-content {
        // width: 70%;;
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.gcc-footer {
    width: 100%;
    height: 50px;
    background-color: $deepTeal;
    margin-top: 50px;
    margin-top: auto;
    // justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 2.2rem!important;
    }
}

.hide {
    display: none!important;
}

// This is a Normalize that makes browsers render all elements more consistently
// and in line with modern standards.