.white {
    color: white!important;
}
// INtel
.intel-white {
    color: white!important;
}
.intel-blue {
    color: $blue!important;
}
.intel-black {
    color: black!important;
}

.intel-bg-light-grey {
    background-color: $greyLight!important;
}

.td-teal {
    color:$teal!important;
}
.td-green {
    color: $chartreuse!important
}
.td-grey {
    color: $grey!important;
}
// GCC

.gcc-grey {
    color: $grey;
}

.gcc-bg {
    &__white {
        background-color: $white!important;
    }
    &__light-grey {
        background-color: $greyLight!important;
    }
}

// Seagate 

.seagate-green {
    color: $seagate-green!important
}

.seagate-bg-green {
    background: $seagate-green!important;
    background-color: $seagate-green!important;
    color: $black!important;
}

.sparkle-bg-black {
    background: $sparkle-black!important;
    background-color: $sparkle-black!important;
    padding-bottom: 25px;
}