@font-face {
    font-family: 'TWK Everett';
    src: url('../fonts/everett/twkeverett-medium-webfont.woff2') format('woff2'),
         url('../fonts/everett/twkeverett-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: medium;

}


    @font-face {
        font-family: 'TWK Everett';
        src: url('../fonts/everett/twkeverett-bold-webfont.woff2') format('woff2'),
            url('../fonts/everett/twkeverett-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: bold;

    }


    @font-face {
        font-family: 'TWK Everett';
        src:  url('../fonts/everett/twkeverett-regular-webfont.woff2') format('woff2'),
         url('../fonts/everett/twkeverett-regular-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;

    }


    @font-face {
        font-family: 'Arimo';
        src: url('../fonts/arimo/Arimo-VariableFont_wght.woff') format('woff');
        font-weight: 400;
        font-style: normal;

    }

    .gcc-heading {
   
        &__h1 {
            font-size: 4rem!important;
            font-weight: 600!important;
            margin:0!important;
            color: $black!important;
        }
        &__h2 {
            font-size: 3.8rem!important;
            font-weight: 600!important;
            margin:0!important;
            color: $black!important;
        }
        &__h3 {
            font-size: 2.4rem!important;
            font-weight: 300!important;
            margin:0!important;
            line-height: 1.4;
            color: $black!important;
            &.gcc-margin {
                margin-top: 10px!important;
                margin-bottom: 15px!important;
            }
        }
        &__h4 {
            font-size: 1.8rem!important;
            font-weight: 300!important;
            margin:0!important;
            line-height: 1.4;
            color: $black!important;
        }
    }

    .gcc-subheading {
        &__small {
            font-size: 1.4rem!important;
            font-weight: 600!important;
            padding-block:5px!important;
        }

    }
    
    .gcc-body-p {
        font-family: "Arial"!important;
        font-size: 1.6rem!important;
        font-weight: 300!important;
        padding-block:5px!important;
        line-height: 1.4!important;
        max-width: 900px!important;
        &__small {
            font-size: 1.4rem!important;
            line-height: 1.6;
        }
    }
    

    .gcc-weight {
        &__300 {
            font-weight: 300!important;
        }
        &__400 {
            font-weight: 400!important;
        }
        &__500 {
            font-weight: 500!important;
        }
        &__600 {
            font-weight: 600!important;
        }
        &__700 {
            font-weight: 700!important;
        }
        &__800 {
            font-weight: 800!important;
        }
    }